.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.signup_title {
  color: #be123c;
  font-size: 24px;
  margin-bottom: 25px;
}

.register_btn {
  width: 250px;
  height: 43px;
  background-color: #be123c;
  color: white;
  border: none;
  border-radius: 3px;
  transition: all 1.2s;
}

.register_btn:hover {
  width: 250px;
  height: 43px;
  background-color: white;
  color: #be123c;
  border-radius: 3px;
}

.login_link {
  color: #be123c;
  font-size: 12px;
}

.login_link:hover {
  color: #be123c;
  font-weight: bold;
  font-size: 12px;
}

.login_link span {
  color: gray;
}
