* {
    box-sizing: content-box;
    text-decoration: none;
    font-family:'Noto Sans KR', sans-serif;
}

body {
    background-color: #231f30;
}

.login_box{
    border: 1px soild gray; 
    width: 518px;
    height: 417px;
    line-height: 100%;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    background: rgb(253, 254, 254,0.8);
    border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%

}

.title {
    height: 60px;
    line-height: 60px;
    font-size: 32px;
    font-weight: bolder;
    border-radius: 2px;
    color: #552BF1;
}

.login_title{
    color: #552BF1;
    font-size: 24px;
}

.login_type_area {
    height: 150px;
    width: 518px;
    margin-bottom: 30px;
}

.login_type_area p {
    color:#552BF1;
    display: block;
    text-decoration: none;
    width: 289px;
    margin-right: auto;

}

.login_type_area input {
    border: none;
    border-bottom: 1px solid #552BF1;
    outline:none;
    width: 289px;
    height: 20px;
    color: #552BF1;
    background: transparent;
}

.login_type_area input:hover {
    border: none;
    border-bottom: 1px solid white;
    outline:none;
    width: 289px;
    height: 20px;
    color: #552BF1;
    background: transparent;
    transition: 0.75s;
}

.login_btn{
    width: 250px;
    height: 43px;
    background-color: #552BF1;
    color: white;
    border: none;
    border-radius: 3px;
    transition: all 1.2s;
}

.login_btn:hover{
    width: 250px;
    height: 43px;
    background-color: white;
    color: #552BF1;
    border-radius: 3px;
}

.register_link {
    color: #7B66C8;
    font-size: 12px;
    transition: 0.5s;
}

.register_link:hover{
    color: #5100FE;
    font-weight: bold;
    font-size: 12px;
}

.register_link span {
    color: gray;
}

