@font-face {
  font-family: 'BMHANNAPro';
  src: url('../../assets/fonts/BMHANNAPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMHANNAAir';
  src: url('../../assets/fonts/BMHANNAAir_ttf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: content-box;
  text-decoration: none;
  font-family: 'BMHANNAAir', sans-serif;
}

body {
  background-color: #231f30;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.login_box {
  border: 1px soild gray;
  width: 518px;
  height: 417px;
  line-height: 100%;
  margin: 0 auto;
  text-align: center;
  background: rgb(253, 254, 254, 0.8);
  /* background-color: #000; */
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  height: 60px;
  line-height: 60px;
  font-size: 32px;
  font-weight: bolder;
  border-radius: 2px;
  color: #be123c;
  margin-bottom: 15px;
}

.login_title {
  color: #be123c;
  font-size: 24px;
}

.login_type_area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 150px;
  width: 518px;
  margin-bottom: 30px;
}

.login_type_area p {
  color: #be123c;
  display: block;
  text-decoration: none;
  width: 289px;
  margin-right: auto;
  font-size: 20px;
}

.login_type_area input {
  border: none;
  border-bottom: 1px solid #be123c;
  outline: none;
  width: 289px;
  height: 40px;
  color: #be123c !important;
  background: transparent;
  margin-top: 5px;
  font-size: 18px;
}

.login_type_area input:hover {
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  width: 289px;
  height: 40px;
  color: #be123c;
  background: transparent;
  transition: 0.75s;
}

.id_box {
  margin-bottom: 10px;
}

.login_btn {
  width: 250px;
  height: 43px;
  background-color: #be123c;
  color: white;
  border: none;
  border-radius: 3px;
  transition: all 1.2s;
}

.login_btn:hover {
  width: 250px;
  height: 43px;
  background-color: white;
  color: #be123c;
  border-radius: 3px;
}

.register_link {
  color: #be123c;
  font-size: 12px;
  transition: 0.5s;
}

.register_link:hover {
  color: #be123c;
  font-weight: bold;
  font-size: 12px;
}

.register_link span {
  color: gray;
}
